@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <CultureChooser />
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank" style="margin-top: 4px;margin-left: 15px">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>